.app{
    overflow-x: hidden;
    background: url("/assets/img/splash-bg.png") repeat-y;
}
/* start style header */

.header {
    height: 100px;
    background-color: #13394c;
}

.headerContent {
    height: 100%;
    width: 100%;
}

.headerContent__left {
    flex: 1;
    margin: 0;
    height: 100%;
    padding-top: 60px;
}

a.logo__link{
    display: block;
    margin-top: -25px;
}

img.logo {
    margin-right: 180px;
}

.headerContent__center {
    padding: 17px 0;
    flex: 2;
    height: 100%;
}

.headerContent__bottom {
    display: inline-flex;
    margin-top: 15px;
}

.headerMenu {
    width: 40px;
    height: 40px;
    background: #00483a;
    cursor: pointer;
    position: relative;
}

.headerMenu:hover .headerMenuDropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.menuBtnMobile {
    width: 100%;
    height: 100%;
    display: flex;
}

i.fas.fa-bars {
    margin: auto;
    color: var(--white-color);
    font-size: 2.2rem;
}

.headerMenuDropdown {
    position: absolute;
    top: 56px;
    left: -77px;
    width: 195px;
    height: 180px;
    background-color: var(--white-color);
    z-index: 10;
    border-radius: 3px;
    border: 1px solid #c5c0c0;
    box-shadow: 0 0 10px #cdc8c8;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 0.4s;
}

ul.menu__list {
    list-style: none;
    width: 100%;
    height: 100%;
}

ul.menu__list:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 19px;
    background: transparent;
    left: 48px;
    top: -18px;
}

.headerMenuDropdown:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 82px;
    border: 15px solid transparent;
    border-bottom: 15px solid var(--white-color);
}

li.menu__item {
    padding: 13px;
    position: relative;
}

li.menu__item:hover > a {
    color: var(--yellow-color);
}

li.menu__item:hover i {
    color: var(--yellow-color);
}

li.menu__item:hover .menuDropdown__list {
    opacity: 1;
    visibility: visible;
    transform: rotateY(0deg);
}

li.menu__item a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    transition: 0.4s;
    width: 100%;
}

ul.menuDropdown__list {
    list-style: none;
    width: 210px;
    background-color: var(--white-color);
    border: 1px solid #c5c0c0;
    box-shadow: 0 0 10px #cdc8c8;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 194px;
    opacity: 0;
    visibility: hidden;
    transform: rotateY(90deg);
    transform-origin: 0% 0%;
    transition: 0.4s;
}

li.menuDropdown__item {
    padding: 10px 2px;
    width: 162px;
    margin: 0 23px;
    border-bottom: 1px solid #cdc8c8;
}

li.menuDropdown__item:hover > a {
    color: var(--yellow-color);
    margin-left: 15px;
}

li.menuDropdown__item:last-child {
    border: none;
}

li.menu__item:nth-child(1) i.fas.fa-angle-right {
    margin-left: 112px;
}

li.menu__item:nth-child(2) i.fas.fa-angle-right {
    margin-left: 88px;
}

li.menu__item:nth-child(3) i.fas.fa-angle-right {
    margin-left: 95px;
}
li.menu__item:nth-child(4) i.fas.fa-angle-right {
    margin-left: 80px;
}

i.fas.fa-angle-right {
    color: var(--text-color);
    transition: 0.4s;
}

.headerSearch {
    margin-left: 30px;
    height: 40px;
    overflow: hidden;
}

form.formSearch {
    height: 100%;
    position: relative;
    display: flex;
}

input.search--control {
    width: 365px;
    height: 100%;
    padding: 0 30px;
    background-color: #dde4e7;
    outline: none;
    border: 1px solid #dde4e7;
    font-style: italic;
    font-size: 1.4rem;
}

button.btnSearch {
    width: 110px;
    height: 100%;
    margin-left: -3px;
    border: none;
    background-color: var(--yellow-color);
    cursor: pointer;
    position: relative;
    outline: none;
}

button.btnSearch:hover {
    color: var(--white-color);
}

button.btnSearch:after {
    position: absolute;
    top: -20px;
    left: -23px;
    content: "";
    width: 0px;
    height: 0px;
    border: 18px solid transparent;
    border-top: 70px solid var(--yellow-color);
    transform: rotate(194deg);
    cursor: pointer;
}

button.btnSearch:hover span {
    color: var(--white-color);
}

span.btnSearch-text {
    padding: 0px 10px;
    color: var(--black-color);
    transition: 0.4s;
    font-size: 1.4rem;
}

i.fas.fa-search {
    padding-right: 10px;
    transition: 0.4s;
    font-size: 1.6rem;
}

.headerContent__Right{
    flex: 2;
    height: 100%;
}

.headerInfo {
    display: flex;
    line-height: 155px;
    height: 100%;
    float: right;
    padding-left: 80px;
    overflow: hidden;
    width: 100%;
}

.headerIcon {
    color: var(--white-color);
    font-size: 2.3rem;
    height: 100%;
    width: 70px;
}

.headerIcon.headerLink:hover .headerInfo__list {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0);
}

.headerIcon.headerCart:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
}

a.icon.iconCart:hover i.iconHeader.fas.fa-cart-arrow-down:after {
    background-color: #666060;
    color: var(--yellow-color);
}

ul.headerInfo__list {
    position: absolute;
    top: 90px;
    right: 203px;
    z-index: 10;
    width: 230px;
    list-style: none;
    background-color: var(--white-color);
    border-radius: 3px;
    border: 1px solid #c5c0c0;
    box-shadow: 0 0 10px #cdc8c8;
    opacity: 0;
    visibility: hidden;
    transform: rotateX(90deg);
    transform-origin: 0 0;
    transition: 0.4s;
}

.headerCart > ul.headerInfo__list {
    right: 125px;
    width: 280px;
    height: 65px;
}

.headerIcon.headerCart > ul > li {
    padding: 23px 61px;
}

li.headerInfo__item {
    padding: 20px 41px;
    line-height: 15px;
    cursor: pointer;
}

li.headerInfo__item:hover > a {
    color: var(--yellow-color);
}

li.headerInfo__item > a {
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
    transition: 0.4s;
}

a.icon {
    display: block;
    padding: 20px 0px;
    margin-top: -46px;
    margin-left: 4px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: all 0.35s ease;
    transform: rotate(20deg);
}

.headerIcon a.icon:hover {
    background-color: var(--yellow-color);
}

a.icon.iconWishlist {
    background-color: #103f4c;
}

a.icon.iconUser {
    background-color: #0b4b4e;
}

a.icon.iconRegister {
    background-color: #055850;
}

i.iconHeader {
    transform: rotate(-20deg);
    position: relative;
}

.header__nav {
    height: 70px;
    background-color: #045c4b;
    overflow: hidden;
    border-top: 1px solid #00856b;
}

ul.navbar__list {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
}

li.navbar__item {
    line-height: 85px;
    position: relative;
}

li.navbar__item>a {
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transform: rotate(20deg);
    background-color: #045c4b;
    width: 190px;
    height: 146px;
    margin-top: -38px;
    border: 1px solid #6f6666;
    transition: 0.4s;
}

li.navbar__item>a:hover {
    background-color: var(--yellow-color);
}

.menuURL {
    display: block;
    transform: rotate(-20deg);
    padding: 29px 6px;
    text-align: center;
    font-size: 1.6rem;
}

.menuURL>i {
    margin-right: 10px;
}

/* end style header */

.slider {
    width: 100%;
    height: auto;
    position: relative;
}

.slider:hover .btnSlider-prev {
    left: 20px;
    opacity: 1;
}

.slider:hover .btnSlider-next {
    right: 20px;
    opacity: 1;
}

button.btnSlider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}

button.btnSlider-next {
    right: 0px;
    opacity: 0;
}

button.btnSlider:hover {
    background: var(--yellow-color);
    color: var(--white-color);
}

button.btnSlider-prev {
    left: 0px;
    opacity: 0;
}

.slider-wrap {
    width: 100%;
    height: 100%;
}

.slider1__title--wrap{
    width: 100%;
    height: 625px;
    margin: auto;
    position: relative;
}

.slider__title--wrap{
    position: absolute;
    top: 160px;
    width: 700px;
    height: 350px;
}

h2.slider_1-title1 {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Anton;
    font-size: 5.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.slider_1 span.slider-text,.slider_2 span.slider-text {
    top: 150px;
    color: white;
    left: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    transform: translateX(-50%);
    position: absolute;
}

.slider_1 span.slider-text:after{
    content: "";
    position: absolute;
    top: 12px;
    right: 45px;
    width: 130px;
    height: 2px;
    background: var(--yellow-color);
}

.slider_1 span.slider-text:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 45px;
    width: 130px;
    height: 2px;
    background: var(--yellow-color);
}

.slider_2 span.slider-text:after{
    content: "";
    position: absolute;
    top: 12px;
    right: 45px;
    width: 130px;
    height: 2px;
    background: var(--yellow-color);
}

.slider_2 span.slider-text:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 45px;
    width: 130px;
    height: 2px;
    background: var(--yellow-color);
}

.slider_1 p,.slider_2 p {
    position: absolute;
    top: 200px;
    left: 100px;
    color: var(--white-color);
    font-size: 1.6rem;
}

.slider2__title--wrap{
    width: 100%;
    height: 625px;
    position: relative;
}

.slider_2__title--wrap{
    position: absolute;
    top: 43%;
    left: 100px;
    transform: translateY(-50%);
    width: 700px;
    height: 350px;
}

.slider_2 h2.slider_2-title1 {
    position: absolute;
    top: 116px;
    left: 260px;
    font-size: 5rem;
    font-weight: 500;
    font-family: Anton;
    color: #2804da;
    text-transform: uppercase;
}

.slider_2 h4.slider_2-title2 {
    top: 190px;
    left: 200px;
    color: var(--text-color);
}

.slider_2 span.slider-text {
    top: 175px;
    left: 370px;
    color: var(--text-color);
}

.slider_2 p {
    color: var(--black-color);
    top: 225px;
    left: 130px;
}

.storyBook{padding: 30px 0;}
.section__title{
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.section__title h4 {
    font-size: 2rem;
    line-height: 40px;
    color: var(--white-color);
}
.click-slider{
    line-height: 50px;
    color: var(--white-color);
}
.prev-item{margin-right: 5px;width: 30px;height: 30px;background: transparent;text-align: center;padding: 4px 0px;cursor: pointer;transition: 0.4s;border-radius: 5px;border: 1px solid #f3e7e7;font-size: 2rem;}

.slick-arrow:hover {
    background: var(--yellow-color);
}
.next-item{
    margin-right: 15px;
    font-size: 2rem;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: transparent;
    text-align: center;
    padding: 4px 0px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
    border: 1px solid #f3e7e7;
}
.slider__story{
    padding: 10px;
    height: 235px;
    width: 200px;
    outline: none;
}
.story__thumb{
    position: relative;
    height: 175px;
    width: 175px;
    margin: auto;
    overflow: hidden;
    transition: 0.4s;
    border-radius: 10px;
    cursor: pointer;
}

.story__thumb.story__thumb-category {
    height: 100px;
}


.story__thumb:hover .action-links {
    opacity: 1;
}

.story__thumb:hover .sub__background {
    background-color: black;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.story__thumb:hover img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}

.story__thumb a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.story__thumb a img {
    height: 100%;
    width: 100%;
    transition: 0.4s;
}
.action-links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    opacity: 0;
    transition: 0.8s;
    z-index: 2;
}
.heart-btn{}

a.heart-btn i {
    color: var(--white-color);
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.story__caption{
    height: 40px;
    padding: 10px 0;
}
.story__caption .story__name{
    text-align: center;
    outline: none;
}

.story__caption .story__name:hover a {
    color: var(--yellow-color);
}

.story__caption .story__name a {
    font-size: 1.6rem;
    color: var(--white-color);
    text-decoration: none;
    padding: 5px 0;
    display: block;
    transition: 0.4s;
}
.story__caption .decription{
    display: flex;
    justify-content: space-between;
}
.story__caption .decription .chapter{
    color: #e7ff0b;
}
.story__caption .decription .date{
    color: #03a9f4;
}
.story__wrap,.story-nation__wrap{
    display: flex;
    flex-wrap: wrap;
}




*{}

.footer-top{
    border-top: 1px solid var(--yellow-color);
    border-bottom: 1px solid var(--yellow-color);
    padding: 30px;
}

.footer-top .widget-footer .title-widget{
    font-size: 3rem;
    color: var(--white-color);
    padding: 20px 0;
}

.footer-top .widget-footer .title-widget p {
    font-size: 1.4rem;
    padding: 45px 0;
    width: 300px;
}
.footer-top .widget-footer .title-widget h6{
    color: var(--yellow-color);
}
.footer-top .widget-footer .footer-addres{
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 20px 0;
}

.footer-top .widget-footer .footer-addres p {
    padding: 5px 0;
}

.footer-top .widget-footer .footer-addres a {
    color: var(--white-color);
    text-decoration: none;
}
.footer-top .widget-footer .social-icons{
    list-style: none;
    display: flex;
    padding: 20px 0;
}

.footer-top .widget-footer .social-icons li {
    padding-right: 20px;
}

.footer-top .widget-footer .social-icons i {
    font-size: 1.6rem;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--white-color);
}

i.fa.fa-rss {
    background-color: #eb8314;
    padding: 5px 7px!important;
}

i.fab.fa-youtube {
    background-color: rgb(255, 0, 0);
    padding: 5px 7px!important;
}

i.fab.fa-twitter {
    background-color: #1DA1F2;
    padding: 5px 7px!important;
}

i.fab.fa-instagram {
    background-color: #DC3472;
    padding: 5px 7px!important;
}

.footer-top .widget-footer .social-icons i.fab.fa-facebook-f {
    background-color: #3B5997;
}
.footer-top .widget-footer .footer-list{
    list-style: none;
    padding: 20px 0;
}

.footer-top .widget-footer .footer-list li {
    padding: 5px 0;
}

.footer-top .widget-footer .footer-list li.gg-store__link, .footer-top .widget-footer .footer-list li.app-store__link {
    padding: 0;
}

.footer-top .widget-footer .footer-list li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    transition: 0.4s;
    display: block;
    padding: 3px 0;
}

.footer-top .widget-footer .footer-list li a:hover {
    color: var(--yellow-color);
    transform: translateX(5px);
}
.footer-bottom{
    padding: 5px 0;
}
.footer-bottom .copy-text{
    color: var(--white-color);
    font-size: 1.4rem;
    text-align: center;
}

.footer-bottom .copy-text a {
    color: var(--yellow-color);
    text-decoration: none;
    line-height: 40px;
}

