.breadcrumb-area{
    height: 60px;
    background-color: #13394c;
}
.breadcrumb-area .breadcrumb-list{
    list-style: none;
    display: flex;
    line-height: 60px;
}

.breadcrumb-area .breadcrumb-list .breadcrumb-item>a {
    color: var(--white-color);
}

.breadcrumb-area .breadcrumb-list .breadcrumb-item a {
    text-decoration: none;
    font-size: 1.8rem;
}

.breadcrumb-area .breadcrumb-list .breadcrumb-item.active {
    margin-left: 5px;
}

.breadcrumb-area .breadcrumb-list .breadcrumb-item.active>a {
    color: var(--yellow-color);
}
.main-content__wrap{padding: 20px 0;}
.main-content__wrap{
    
}
.main-content__wrap .storyBook__nation{
    list-style: none;
    display: flex;
    line-height: 50px;
}

.main-content__wrap .storyBook__nation li {
    padding-right: 20px;
}

.main-content__wrap .storyBook__nation li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
}

.main-content__wrap .storyBook__nation li a.active {
    color: var(--yellow-color);
    text-decoration: underline;
}
*{}

.slider__story {
    margin-bottom: 20px;
}
